.banner-section{padding: 25px 0; margin-bottom: 20px;}
.banner-section .box{
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
.banner-section .box:hover img{
    transform: scale(1.1) rotate(2deg);
}

.banner-section .box img{
    max-width: 100%;
    height: auto;
}




